@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">

    <title>Order Recieved</title>
</head>

<body class=" ">

    <div class="order">
        <div class="order__container">
            <div class="page__title">
                Order Confirmed!
            </div>

            <div class="order__details">
                <div class="mt-10 mb-5">Your Order <span class="text-[#85AD88]">#123456 </span>is confirmed</div>
                <div><span>Pickup from: </span>6PM–7PM Today</div>
                <div><span>Address: </span>123 Main Rd, Rondebosch</div>
                <div class=" mt-5">Show this pin on arrival:</div>
            </div>


            <div class="pin-container">

                <div>
                    Use Pin:
                </div>
                <div>
                    2875
                </div>

            </div>





            <div class="reserve-buttons">
                <div class="buttons reserve-buttons__favourites">
                    <div>
                        <a href="">
                            Open in Maps
                        </a>
                    </div>
                </div>

                <div class="buttons reserve-buttons__reserve">
                    <div>
                        <a href="">Share</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>